*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 8rem;
}

.header a:first-child {
  text-decoration: none;
  color: #232323;
}

.sticky {
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 0.803);
  width: 100%;
  z-index: 1000;
  height: 8rem;
}

.logo {
  font-size: 1.8rem;
}

.navigation__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navigation-links:link,
.navigation-links:visited {
  text-decoration: none;
  color: #232323;
  font-size: 2rem;
  padding: 0.4rem 1.2rem;
  border-radius: 2rem;
  transition: all 0.3s ease-in;
}

.navigation-links:hover,
.navigation-links:active {
  background: #e7e5e5;
  color: #383838;
}

.nav-open .navigation {
  display: block;
}

.mobile-nav-btn {
  display: inline-block;
  border: none;
  font-size: 3.2rem;
  color: #232323;
  background: none;
  cursor: pointer;
  display: none;
  z-index: 999;
}

/* HERO */
.hero {
  padding: 0 9rem;
  margin-top: 10rem;
}

.hero__img {
  background: linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)),
    url("./images/workspace-and-screen.AYxWxjRO_ZmruSL.webp") center center /
      contain no-repeat #ffdb70;
  height: 92vh;
  position: relative;
  border-radius: 1.3rem;
}

.hero__img-about {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url("./images/projects-2.avif");
  background-size: cover;
  background-repeat: no-repeat;
  height: 92vh;
  position: relative;
  border-radius: 1.3rem;
}

.hero__img-contact {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url("./images/contact.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 92vh;
  position: relative;
  border-radius: 1.3rem;
}

.hero__text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.hero__text-detail {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.hero__heading {
  font-size: 6rem;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
}

.hero__subheading {
  font-size: 12rem;
  color: #fff;
  font-weight: 400;
  text-align: center;
  line-height: 0.9;
  letter-spacing: -0.3rem;
}

.hero__text {
  font-size: 2.6rem;
  color: #fff;
  text-align: center;
}

.hero__btn-container {
  text-align: center;
}

.hero__btn {
  border: none;
  padding: 1.5rem 6rem;
  font-size: 2.5rem;
  border-radius: 3rem;
  background: rgb(241, 241, 61);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.hero__btn:hover {
  background: rgb(213, 213, 9);
}

/* RECENT CONTRACTS */
.recent__contracts {
  padding: 0 8rem;
  margin-top: 6rem;
}

.recent__contracts-heading {
  font-size: 2rem;
  padding: 8rem 0 2rem 0;
  font-weight: 200;
  color: #383838;
}

.recent__contracts-grid {
  display: grid;
  grid-template-columns: 25fr 45fr 30fr;
  align-items: center;
  gap: 4rem;
  padding: 0.8rem 0;
  font-size: 2.4rem;
  font-weight: 300;
  border-bottom: 0.4px solid #f3eeee;
}

.recent__contracts-ongoing {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.recent__contracts-ongoing .recent__contracts-ongoing-text {
  font-size: 2.4rem;
  background: #f1f1ee;
  padding: 1.5rem 3rem;
  color: #383838;
  border-radius: 2rem;
  line-height: 1.2;
}

.recent__contracts-grid .recent__contracts-year {
  margin-left: auto;
}

/* SELECTED PROJECTS */
.selected__projects {
  padding: 0 8rem;
  margin-top: 15rem;
}

.selected__projects-heading {
  font-size: 4.8rem;
  color: #232323;
  font-weight: 300;
  margin-bottom: 0.8rem;
}

.selected__projects-year {
  font-size: 2rem;
  color: #383838;
  margin-bottom: 4rem;
  font-weight: 300;
}

.selected__projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8rem 4rem;
}

.selected__projects-grid-link {
  text-decoration: none;
}

.selected__projects-grid-item {
  overflow: hidden;
  cursor: pointer;
}

.selected__projects-grid-item .selected__projects-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.picture-container {
  overflow: hidden;
  border-radius: 1rem;
  transition: all 1s ease-in-out;
}

.selected__projects-flex h2 {
  font-size: 3.6rem;
  color: #232323;
  font-weight: 300;
  text-transform: capitalize;
}

.selected__projects-flex p {
  font-size: 2rem;
  color: #383838;
  font-weight: 300;
}

.selected__projects-flex .picture-container {
  overflow: hidden;
  border-radius: 1rem;
}

.selected__projects-grid-item:hover .selected__projects-img {
  transform: scale(1.1);
}

.selected__projects-img {
  width: 100%;
  border-radius: 1rem;
  transition: all 0.3s ease-out;
  display: block;
}

.selected__projects-grid-item .second-img {
  background: rgb(99, 99, 240);
}

.selected__projects-grid-item .third-img {
  background: #8d6af7;
}

/* WHAT I DO */
.what__i-do {
  padding: 22rem 8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.what__i-do-text-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.what__i-do-heading {
  color: #383838;
  font-size: 2rem;
  font-weight: 300;
}

.what__i-do-subheading {
  color: #232323;
  font-size: 7.2rem;
  margin-bottom: 1.6rem;
  letter-spacing: -0.2rem;
  font-weight: 300;
}

.what__i-do-text {
  color: #383838;
  font-size: 2rem;
  margin-bottom: 3.2rem;
  font-weight: 300;
}

.what__i-do-button {
  border: none;
  background: none;
  padding: 6px 16px;
  border: 1px solid #383838;
  border-radius: 1.8rem;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.what__i-do-button:hover {
  background: #232323;
  color: #fff;
}

/* FOOTER */
.footer {
  padding: 25.6rem 4rem;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.footer__contact p:first-child {
  color: #383838;
  font-size: 2rem;
  margin-bottom: 0.4rem;
}

.footer__contact p:nth-child(2) {
  color: #232323;
  font-size: 7.2rem;
  margin-bottom: 2.2rem;
  letter-spacing: -0.4rem;
  font-weight: 300;
}

.footer__icons i {
  font-size: 3rem;
  cursor: pointer;
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #383838;
  font-size: 1.8rem;
  letter-spacing: -0.1rem;
  font-weight: 300;
}

.footer__copyright-link:link,
.footer__copyright-link:visited {
  color: #383838;
}

.footer__copyright-link:hover,
.footer__copyright-link:active {
  color: #232323;
}

.footer__links a:link,
.footer__links a:visited {
  color: #383838;
  font-size: 1.8rem;
  font-weight: 300;
}

.footer__links a:hover,
.footer__links a:active {
  color: #232323;
}

.footer__links a:not(:last-child) {
  margin-right: 1rem;
}
